<!--
    ANGULAR NOTES
    directives: html annotations that trigger js
    controllers: add behavior
    expressions: how to display values
    filters: | filter:options, -price (descending)
    ng-src: so expr evals before getting img
    ng-class: conditionally applies if call returns true
    ng-click: call controller function to set properties etc.
-->

<!DOCTYPE html>
<html ng-app='gemStore'>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src='angular.min.js'></script>
    <script type="text/javascript" src='app.js'></script>
</head>

<body ng-controller="StoreController as store">
<div class="container">

    <h1>Flatlander Gem Store</h1>

    <!-- PRODUCTS LIST -->
    <ul class='list-group'>

        <li class='list-group-item flex-container' ng-repeat="product in store.products | orderBy:'price'" ng-hide='product.soldOut'>

            <!-- IMAGE -->
            <div id='image-div' class="flex-item">
                <img id='product-image' class='flex-item' ng-src="{{product.images[0]}}" />
            </div>

            <!-- TEXT -->
            <div class="flex-item">
                <h3>{{product.name}}</h3>
                <button class='pull-right' ng-show='product.canPurchase'>Add to Cart</button>
                <p>{{product.price | currency}}</p>

                <!-- PANELS NAV -->
                <section ng-controller='PanelController as panel'>
                    <ul class='nav nav-pills clear-both'>
                        <!-- apply active class if tab === x -->
                        <li ng-class='{active:panel.isSet(1)}'><a href="#" ng-click='panel.setTab(1)'>Description</a></li>
                        <li ng-class='{active:panel.isSet(2)}'><a href="#" ng-click='panel.setTab(2)'>Specification</a></li>
                        <li ng-class='{active:panel.isSet(3)}'><a href="#" ng-click='panel.setTab(3)'>Reviews</a></li>
                    </ul>

                    <!-- PANELS -->
                    <!-- show panel if isSet returns T -->
                    <div class="panel" ng-show='panel.isSet(1)'>
                        <!-- <h4>Description</h4> -->
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show='panel.isSet(2)'>
                        <!-- <h4>Description</h4> -->
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show='panel.isSet(3)'>
                        <!-- <h4>Description</h4> -->
                        <p>{{product.description}}</p>
                    </div>
                </section>
            </div>

        </li>
    </ul>

</div>
</body>
</html>
