<!-- ANGULAR NOTES: SEE FLASHCARDS -->

<!DOCTYPE html>
<html ng-app='gemStore'>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script type="text/javascript" src='angular.min.js'></script>
    <script type="text/javascript" src='jquery-1.6.2.min.js'></script>
    <script type="text/javascript" src='app.js'></script>
    <script type="text/javascript" src='products.js'></script>
    <!-- note: scripts.js script tag at bottom of page.... -->
</head>

<body ng-controller="StoreController as store">

<!-- NAVIGATION WITH SEARCH BOXES -->
<nav role="navigation">
  <div class="container">
     <h1>Flatlander Gem Store</h1>
     <fieldset class='form-group'>
         <input id='nav-search' ng-model='search' type="text" class='form-control' placeholder='Search for gems...'>
         <input id='nav-search-go' type="submit" class='btn btn-primary' value="Go">
     </fieldset>
  </div>
</nav>

<!-- MAIN CONTAINER -->
<div class="container">

    <!-- PRODUCTS LIST -->
    <ul class='list-group'>
        <li class='list-group-item flex-container' ng-repeat="product in store.products | orderBy:'price' | filter:search " ng-hide='product.soldOut'>

            <!-- IMAGE -->
            <div id='image-div' class="flex-item">
                <img id='product-image' class='flex-item' ng-src="{{product.images[0]}}" />
            </div>
            <!-- TEXT -->
            <div class="flex-item">
                <h3 class='pull-left'>{{product.name}}</h3>
                <button id='add-to-cart-btn' class='pull-right btn' ng-show='product.canPurchase'>Add to Cart</button>
                <p id='product-price'>{{product.price | currency}}</p>

                <!-- PANEL/TAB NAVIGATION -->
                <product-panels></product-panels>

            </div>

        </li>
    </ul>

</div>

<script type="text/javascript" src='scripts.js'></script>
</body>
</html>
