<section >

    <ul class='nav nav-pills clear-both'>
        <!-- apply active class if tab === x -->
        <li ng-class='{active:panel.isSet(1)}'><a class='tabs' href="#" ng-click='panel.setTab(1)'>Description</a></li>
        <li ng-class='{active:panel.isSet(2)}'><a class='tabs' href="#" ng-click='panel.setTab(2)'>Specs</a></li>
        <li ng-class='{active:panel.isSet(3)}'><a class='tabs' href="#" ng-click='panel.setTab(3)'>Reviews</a></li>
    </ul>

    <!-- PRODUCT TABS/PANELS (CONTENT) -->
    <!-- show panel if isSet returns T -->

    <!-- DESCRIPTION PANEL -->
    <!-- rendered with a custom elment directive -->
    <product-description ng-show='panel.isSet(1)'>
    </product-description>
    <!-- panel html moved to template... -->
    <!-- <div class="panel" ng-show='panel.isSet(1)'>
        <p>{{product.description}}</p>
    </div> -->

    <!-- SPECS PANEL -->
    <div product-specs class="panel" ng-show='panel.isSet(2)'>
        <!-- see directive for content -->
    </div>

    <!-- REVIEWS PANEL -->
    <div class="panel" ng-show='panel.isSet(3)'>

        <!-- ACTUAL REVIEWS -->
        <blockquote ng-repeat='review in product.reviews'>
            <strong>{{review.stars}} Stars</strong>
            {{review.body}}
            <cite class='clearfix'>- {{review.author}} on {{review.createdOn | date }}</cite>
        </blockquote>

        <!-- BUTTON TO SHOW REVIEW FORM -->
        <button id='show-form' ng-click='form.setShow(true)' name="button" class='btn btn-primary'>Write a Review</button>

        <!-- REVIEW FORM (DIRECTIVE) -->
        <review-form ng-show='form.isShown()'></review-form>

    </div>

</section>
