.container {
    width: 50%;
    margin: auto;
}
.list-group-item {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
}
.flex-container {
    display: flex;
}
.flex-item {
    width: 75%; /* so fills out parent */
}
/*size the image container not img to maintain aspect ratio */
#image-div {
    width: 15%;
}
#product-image {
    display: block;
    width: 100%;
    padding: 20px 20px 5px 0px;
}
.nav-pills li a {
    padding: 10px 5px 10px 5px;
    margin-right: 10px;
}
.clear-both {
    clear: both;
}
